<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>waterwarm</display-name>
	<welcome-file-list>
	<welcome-file>wwpad.html</welcome-file>
</welcome-file-list>

  
    <error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
 
  <filter>
    <display-name>CSfilter</display-name>
    <filter-name>CSfilter</filter-name>
    <filter-class>com.waterwarm.filter.CSfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CSfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  
    <display-name>AddGoods</display-name>
    <servlet-name>AddGoods</servlet-name>
    <servlet-class>com.waterwarm.goods.AddGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoods</servlet-name>
    <url-pattern>/AddGoods</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>DeleteGoods</display-name>
    <servlet-name>DeleteGoods</servlet-name>
    <servlet-class>com.waterwarm.goods.DeleteGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoods</servlet-name>
    <url-pattern>/DeleteGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateGoods</display-name>
    <servlet-name>UpdateGoods</servlet-name>
    <servlet-class>com.waterwarm.goods.UpdateGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoods</servlet-name>
    <url-pattern>/UpdateGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowGoods</display-name>
    <servlet-name>ShowGoods</servlet-name>
    <servlet-class>com.waterwarm.goods.ShowGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoods</servlet-name>
    <url-pattern>/ShowGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsByBrand</display-name>
    <servlet-name>ShowGoodsByBrand</servlet-name>
    <servlet-class>com.waterwarm.goods.ShowGoodsByBrand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsByBrand</servlet-name>
    <url-pattern>/ShowGoodsByBrand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowGoodsByClass</display-name>
    <servlet-name>ShowGoodsByClass</servlet-name>
    <servlet-class>com.waterwarm.goods.ShowGoodsByClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsByClass</servlet-name>
    <url-pattern>/ShowGoodsByClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SaleLogin</display-name>
    <servlet-name>SaleLogin</servlet-name>
    <servlet-class>com.waterwarm.sale.SaleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleLogin</servlet-name>
    <url-pattern>/SaleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SaleRegister</display-name>
    <servlet-name>SaleRegister</servlet-name>
    <servlet-class>com.waterwarm.sale.SaleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleRegister</servlet-name>
    <url-pattern>/SaleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SaleNameCheck</display-name>
    <servlet-name>SaleNameCheck</servlet-name>
    <servlet-class>com.waterwarm.sale.SaleNameCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleNameCheck</servlet-name>
    <url-pattern>/SaleNameCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddSale</display-name>
    <servlet-name>AddSale</servlet-name>
    <servlet-class>com.waterwarm.sale.AddSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSale</servlet-name>
    <url-pattern>/AddSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteSale</display-name>
    <servlet-name>DeleteSale</servlet-name>
    <servlet-class>com.waterwarm.sale.DeleteSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSale</servlet-name>
    <url-pattern>/DeleteSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateSale</display-name>
    <servlet-name>UpdateSale</servlet-name>
    <servlet-class>com.waterwarm.sale.UpdateSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSale</servlet-name>
    <url-pattern>/UpdateSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowSale</display-name>
    <servlet-name>ShowSale</servlet-name>
    <servlet-class>com.waterwarm.sale.ShowSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSale</servlet-name>
    <url-pattern>/ShowSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddAddress</display-name>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>com.waterwarm.address.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteAddress</display-name>
    <servlet-name>DeleteAddress</servlet-name>
    <servlet-class>com.waterwarm.address.DeleteAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddress</servlet-name>
    <url-pattern>/DeleteAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateAddress</display-name>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>com.waterwarm.address.UpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowAddress</display-name>
    <servlet-name>ShowAddress</servlet-name>
    <servlet-class>com.waterwarm.address.ShowAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddress</servlet-name>
    <url-pattern>/ShowAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddGoodsClassClass</display-name>
    <servlet-name>AddGoodsClass</servlet-name>
    <servlet-class>com.waterwarm.goodsclass.AddGoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsClass</servlet-name>
    <url-pattern>/AddGoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteGoodsClass</display-name>
    <servlet-name>DeleteGoodsClass</servlet-name>
    <servlet-class>com.waterwarm.goodsclass.DeleteGoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsClass</servlet-name>
    <url-pattern>/DeleteGoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateGoodsClass</display-name>
    <servlet-name>UpdateGoodsClass</servlet-name>
    <servlet-class>com.waterwarm.goodsclass.UpdateGoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoodsClass</servlet-name>
    <url-pattern>/UpdateGoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowGoodsClass</display-name>
    <servlet-name>ShowGoodsClass</servlet-name>
    <servlet-class>com.waterwarm.goodsclass.ShowGoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGoodsClass</servlet-name>
    <url-pattern>/ShowGoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddGroupClass</display-name>
    <servlet-name>AddGroup</servlet-name>
    <servlet-class>com.waterwarm.group.AddGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroup</servlet-name>
    <url-pattern>/AddGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteGroup</display-name>
    <servlet-name>DeleteGroup</servlet-name>
    <servlet-class>com.waterwarm.group.DeleteGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroup</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateGroup</display-name>
    <servlet-name>UpdateGroup</servlet-name>
    <servlet-class>com.waterwarm.group.UpdateGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGroup</servlet-name>
    <url-pattern>/UpdateGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowGroup</display-name>
    <servlet-name>ShowGroup</servlet-name>
    <servlet-class>com.waterwarm.group.ShowGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowGroup</servlet-name>
    <url-pattern>/ShowGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddMappingClass</display-name>
    <servlet-name>AddMapping</servlet-name>
    <servlet-class>com.waterwarm.mapping.AddMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMapping</servlet-name>
    <url-pattern>/AddMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteMapping</display-name>
    <servlet-name>DeleteMapping</servlet-name>
    <servlet-class>com.waterwarm.mapping.DeleteMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMapping</servlet-name>
    <url-pattern>/DeleteMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateMapping</display-name>
    <servlet-name>UpdateMapping</servlet-name>
    <servlet-class>com.waterwarm.mapping.UpdateMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMapping</servlet-name>
    <url-pattern>/UpdateMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowMapping</display-name>
    <servlet-name>ShowMapping</servlet-name>
    <servlet-class>com.waterwarm.mapping.ShowMapping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMapping</servlet-name>
    <url-pattern>/ShowMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddOrderClass</display-name>
    <servlet-name>AddOrder</servlet-name>
    <servlet-class>com.waterwarm.order.AddOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrder</servlet-name>
    <url-pattern>/AddOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>com.waterwarm.order.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateOrder</display-name>
    <servlet-name>UpdateOrder</servlet-name>
    <servlet-class>com.waterwarm.order.UpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrder</servlet-name>
    <url-pattern>/UpdateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowOrder</display-name>
    <servlet-name>ShowOrder</servlet-name>
    <servlet-class>com.waterwarm.order.ShowOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrder</servlet-name>
    <url-pattern>/ShowOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddOrderDetailsClass</display-name>
    <servlet-name>AddOrderDetails</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.AddOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderDetails</servlet-name>
    <url-pattern>/AddOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteOrderDetails</display-name>
    <servlet-name>DeleteOrderDetails</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.DeleteOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderDetails</servlet-name>
    <url-pattern>/DeleteOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateOrderDetails</display-name>
    <servlet-name>UpdateOrderDetails</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.UpdateOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderDetails</servlet-name>
    <url-pattern>/UpdateOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ShowOrderDetails</display-name>
    <servlet-name>ShowOrderDetails</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.ShowOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderDetails</servlet-name>
    <url-pattern>/ShowOrderDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoodsClass</display-name>
    <servlet-name>GetGoodsClass</servlet-name>
    <servlet-class>com.waterwarm.goods.GetGoodsClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodsClass</servlet-name>
    <url-pattern>/GetGoodsClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BootstrapTable</display-name>
    <servlet-name>BootstrapTable</servlet-name>
    <servlet-class>com.waterwarm.goods.BootstrapTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BootstrapTable</servlet-name>
    <url-pattern>/BootstrapTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMaxGoodsId</display-name>
    <servlet-name>GetMaxGoodsId</servlet-name>
    <servlet-class>com.waterwarm.goods.GetMaxGoodsId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMaxGoodsId</servlet-name>
    <url-pattern>/GetMaxGoodsId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetToDayOrderMax</display-name>
    <servlet-name>GetToDayOrderMax</servlet-name>
    <servlet-class>com.waterwarm.order.GetToDayOrderMax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetToDayOrderMax</servlet-name>
    <url-pattern>/GetToDayOrderMax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderSize</display-name>
    <servlet-name>GetOrderSize</servlet-name>
    <servlet-class>com.waterwarm.order.GetOrderSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderSize</servlet-name>
    <url-pattern>/GetOrderSize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrderDetail</display-name>
    <servlet-name>GetOrderDetail</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.GetOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrderDetail</servlet-name>
    <url-pattern>/GetOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPrintOrders</display-name>
    <servlet-name>GetPrintOrders</servlet-name>
    <servlet-class>com.waterwarm.orderdetails.GetPrintOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPrintOrders</servlet-name>
    <url-pattern>/GetPrintOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoodsALL</display-name>
    <servlet-name>GetGoodsALL</servlet-name>
    <servlet-class>com.waterwarm.goods.GetGoodsALL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodsALL</servlet-name>
    <url-pattern>/GetGoodsALL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitsNumber</display-name>
    <servlet-name>VisitsNumber</servlet-name>
    <servlet-class>com.waterwarm.filter.VisitsNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitsNumber</servlet-name>
    <url-pattern>/VisitsNumber</url-pattern>
  </servlet-mapping>
</web-app>